<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            padding:auto;
            margin:auto;
            font-size: 1rem;
        }
        .form-group{
            padding:auto;
            margin:auto;
            width:300px;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/profile" method="post">
            <input type="text" name="serviceName"> </br>
            <input type="text" name="deviceName"> </br>
            <input type="text" name="experience"> </br>
            <input type="text" name="location"> </br>
            <input type="text" name="serviceLocation"> </br>
            <input type="file" name="file"> </br>
            <input type="text" name="details"> </br>
            <input type="text" name="profilePhoto"> </br>
            <input type="text" name="address"> </br>
            <input type="file" name="nid1"> </br>
            <input type="file" name="nid2"> </br>
            <button type="submit"> Submit </button>
        </form>
    </div>
    
</body>
</html>